.header {
    background-image: url(../assets/backgrounds/lyd.jpg);
    object-position: center;
    object-fit: cover;
    height: 400px;
    position: relative;
}
h2 {
    text-align: center;
    padding-top: 70px;
}
.ser {
    text-align: center;
    color: white;
    padding-top: 10px;
}
.services {
    background-image: url(../assets/backgrounds/comp.jpg);
    background-repeat: no-repeat;
    height: 350px;
}
h1 {
    text-align: center;
    color: white;
}
.fun {
    text-align: center;
    color: white;
}
.logo {
    text-align: center;
    padding-top: 15px;
}
.icon {
    padding-left: 50%;
    position: absolute;
    bottom: 0%;
}
.us {
    text-align: center;
}
.asset {
    height: 200px;
    width: 200px;
    padding: 3%;
}
.form-us {
    background-image: url('../assets/backgrounds/cyt.jpg');
    height: 500px;
}
.form-control {
    background: none;
}
.contact {
    color: white;
}