.header {
    background-image: url(../assets/backgrounds/lyd.jpg);
    object-position: center;
    object-fit: cover;
    height: 400px;
}
h2 {
    text-align: center;
}
.ser {
    text-align: center;
    color: white;
}

.services {
    background-image: url(../assets/backgrounds/comp.jpg);
    background-repeat: no-repeat;
    height: 350px;
}
.contact {
    background-image: url(../assets/backgrounds/cyt.jpg);
    height: 500px;
}
h1 {
    text-align: center;
    color: white;
}
.fun {
    text-align: center;
    color: white;
}
.logo {
    text-align: center;
}
.icon {
    text-align: center;
}
.us {
    text-align: center;
}