.header {
    background-image: url(../assets/backgrounds/lyd.jpg);
    background-size: cover;
    object-position: center;
    object-fit: cover;
    height: 500px;
    position: relative;
}
.about-us {
    color: black;
}
.what {
    color: black;
}
.port {
    color: black;
}
h2 {
    text-align: center;
    padding-top: 90px;
    color: white;
}
.ser {
    text-align: center;
    color: white;
    padding-top: 10px;
}
.services {
    background-image: url(../assets/backgrounds/comp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}
h1 {
    text-align: center;
    color: white;
}
.fun {
    text-align: center;
    color: white;
}
.logo {
    text-align: center;
    padding-top: 15px;
}
.icon {
    padding-left: 50%;
    position: absolute;
    bottom: 0%;
}
.us {
    text-align: center;
}
.asset {
    height: 250px;
    width: 250px;
    padding: 6%;
    padding-right: 0%;
}
.form-us {
    background-image: url('../assets/backgrounds/cyt.jpg');
    background-size: cover;
    height: 750px;
    width: 1200px;
}
.form-control {
    background: none;
}
.contact {
    color: white;
}
.placeholder { 
    color: white;
}
footer{
    padding-top: 30px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
  }
  footer p{
    margin-top: 10px;
  }
  #design-words, #product-management-words, #development-words{
    display: none;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
  }
  #overlay7,#overlay6,#overlay5,#overlay4,#overlay3,#overlay2,#overlay1,#overlay8{
    padding: 20px;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none; 
    font-size: 20px;
    padding-top: 40%;
    background-color:rgba(250, 245, 245, 0.456);
    color: rgb(182, 27, 27);
    position:absolute;
    font-weight:normal;
    text-align: center;
}
.col-md-3{
    position: relative;
  }
  
  .col-md-3 img {
    max-height: 100%;
    max-width: 100%;
  
}
